<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>회원가입페이지</h1>
<hr>
<form action="/join" method="post"> <!--xform 데이터 -->
    <input type="text" name="username" placeholder="username" required maxlength="4">
    <input type="password" name="password" placeholder="password" required>
    <input type="email" name="email" placeholder="email" required>
    <button>회원가입</button>
    <!--<button type="submit">클릭</button>  submit은  input 태그 데이터 한방에 전송 -> 통신요청-
    required -> 값을 넣지 않으면 안넘어감
    maxlength="4" -> 4자 이상 넘어가지 않게

    ->
</form>


</body>
</html>